# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
.git
.gitignore
**.md
Dockerfile
.dockerignore
.DS_Store
.vscode
.idea
*.iml
*.log
.env

# Artifacts that will be built during image creation.
target/
project/target/
project/project/



